<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/singup.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
     
    {{> header}}
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
     {{{body}}}
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
