/* .signup {
    background-image: linear-gradient(white,rgb(36, 68, 68));
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
} */

.signup > div > div:nth-of-type(2) h1{
    margin-bottom: 30px;
    color: #08526d;
}

.signup .aboutUs{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup .aboutUs ul li {
    margin-bottom: 40px;
    list-style: none;
}

.signup .aboutUs ul li i{
    margin-right: 7px;
}

.signup .message-error
{
    color: red;
}
.signup button{
    background-color: #08526d;
    color: white;
}
.signup button:hover{
    cursor: pointer;
}

.form-group{
    position: relative;
}
.form-control-custom{
    width: 100%;
    padding: 5px;
}
.form-group i{
    position: absolute;
    top: 10px;
    left: 15px;
}

.form-group i:hover{
    cursor: pointer;
}

.fa-2x{
    font-size: 20px;
}


/* .imageDesign{
    background-image:url('/images/phone-accessories.jpg');
    background-size: cover;
    transform: translateY(100px) rotateY(40deg);
    border-radius: 30px 0 0 60px ;
} */